/* Color palette */

:root {
    --background-color: #fefdfd;
    --text-color: #222;
    --second-text-color: #383838;
    --third-text-color: #fdb99b;
}

[data-theme='dark'] {
    --background-color: #0a192f;
    --text-color: #eee;
    --second-text-color: #b6b6b6;
    --third-text-color: #809fff;
}